
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
@using (Html.BeginForm())
{
    <p>
        <label>Enter Your Name</label>
        @Html.TextBox("username")
    </p>
    <p>
        <label>Select Gender</label>
        @Html.RadioButton("gender","male","male")Male
        @Html.RadioButton("gender","female","female")Female
    </p>
    <p>
        <label>Select Hobbies</label>
        <input type="checkbox" name="hobbies" value="sports" /> Sports
        <input type="checkbox" name="hobbies" value="music" /> Music
    </p>
    <p>
        <label>Select City</label>
        @Html.DropDownList("cities")
    </p>
    <p>
        <label>Select City</label>
        @Html.ListBox("cities")
    </p>
    <p>
        <label>Your Comments</label>
        @Html.TextArea("comments")
    </p>
    <p>
        <input type="submit" value="Save" />
    </p>
}
